@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<aside>
    <div id="sidebar" class="nav-collapse">
<div class="leftside-navigation">
    <ul class="sidebar-menu" id="nav-accordion">
        <li>
            <a class="active" href="index.html">
                <i class="fa fa-dashboard"></i>
                <span>Trang quản trị</span>
            </a>
        </li>
        <li class="sub-menu">
            <a href="javascript:;">
                <i class="fa fa-laptop"></i>
                <span>Danh mục</span>
            </a>

            <ul class="sub">
                <li><a href="general.html"><i class="fa fa-folder-o"></i>Danh mục loại sản phẩm</a></li>
                <li><a asp-action="Index" asp-controller="NewsCategory"><i class="fa fa-folder-o"></i>Danh mục loại tin tức</a></li>
                <li><a asp-action="Index" asp-controller="Roles"><i class="fa fa-folder-o"></i>Danh mục phân quyền</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="javascript:;">
                <i class="fa fa-laptop"></i>
                <span>Quản lý</span>
            </a>

            <ul class="sub">
                <li><a href="general.html"><i class="fa fa-folder-o"></i>Danh mục loại sản phẩm</a></li>
                <li><a href="buttons.html"><i class="fa fa-folder-o"></i>Danh mục loại tin tức</a></li>
                <li><a href="typography.html"><i class="fa fa-folder-o"></i>Danh mục loại thông báo</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="javascript:;">
                <i class="fa fa-laptop"></i>
                <span>Báo Cáo và thống kê</span>
            </a>

            <ul class="sub">
                <li><a href="general.html"><i class="fa fa-folder-o"></i>Danh mục loại sản phẩm</a></li>
                <li><a href="buttons.html"><i class="fa fa-folder-o"></i>Danh mục loại tin tức</a></li>
                <li><a href="typography.html"><i class="fa fa-folder-o"></i>Danh mục loại thông báo</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="javascript:;">
                <i class="fa fa-laptop"></i>
                <span>Cấu hình</span>
            </a>

            <ul class="sub">
                <li><a href="general.html"><i class="fa fa-folder-o"></i>Danh mục loại sản phẩm</a></li>
                <li><a href="buttons.html"><i class="fa fa-folder-o"></i>Danh mục loại tin tức</a></li>
                <li><a href="typography.html"><i class="fa fa-folder-o"></i>Danh mục loại thông báo</a></li>
            </ul>
        </li>
    </ul>
</div>
</div>
</aside>