@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="alertBox" class ="alert alert-danger">Welcome @TempData["Info"]</div>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@section Scripts {
    <script>
        $(function () {
            $('#alertBox'). removeClass('hide');
            $('#alertBox'). delay(5000).slideup(500);
        })
    </script>
}
